/**
 * ease.js color scheme
 *
 * Inspired by Tango Icon Theme
 */

html {
  background-color: #eeeeec;
}

body {
  background-color: white;
  border-color:     #babdb6;
  border-width:     1px;
  border-style:     solid;
  border-radius:    1em;

  margin:  5em;
  padding: 0.5em 1em 0.5em 1em;

  font-family: arial, serif;
}

h1 {
  position: absolute;
  top:      0.5em;
}

h2 {
  position: absolute;
  top:      1em;
  right:    5em;
}

ul {
  margin: 0;
  padding: 0.25em;
  height: 2em;

  border-bottom: 1px solid #babdb6;
}

ul li {
  list-style: none;
  padding:    0px 1em 0px 0px;

  float:       left;
  line-height: 2em;
}

p.copyright {
  position: fixed;
  bottom:   0px;
  left:     5em;
  right:    5em;

  font-size:  0.8em;
  text-align: center;
}

