/**
 * ease.js color scheme
 *
 * Inspired by Tango Icon Theme
 */

html, body {
  background-color: white;

  margin:  0px 0px 1.5em 0px;
  padding: 0;

  font-family: arial, serif;
  font-size:   16px;
}

#header {
  position: relative;

  background-color: #2e3436;
  border-bottom:    2px solid #295301;

  height: 150px;
  color:  #babdb6;
}

#header h1 {
  display: inline-block;
  margin:  0.5em 0px 0px 0.5em;

  font-size: 4em;
}

#content {
  position: relative;

  background-color: white;

  margin:  0px auto;
  padding: 0.5em 1em 1em 1em;

  width: 800px;
}

#menu {
  border-bottom:    2px solid #b1dd87;
  background-color: #4e9a06;
}

#menu ul {
  padding: 0px;
  height:  2.5em;

  margin: 0px auto;
  width:  800px;
}

#menu ul li {
  list-style: none;
  padding:    0px;

  float:       left;
  line-height: 2em;
}

#menu a, #menu a:link {
  display: inline-block;
  padding: 0.25em 1em;

  color:           #041c40;
  text-decoration: none;
  font-weight:     bold;
}

#menu a:hover {
  background-color: #b1dd87;
}

p.copyright {
  position: fixed;
  bottom:   0px;
  left:     0px;
  right:    0px;

  margin: 0;
  padding: 1em;

  background-color: #2e3436;
  border-top:       2px solid #babdb6;

  color: #babdb6;

  font-size:  0.8em;
  text-align: center;
}

p.copyright a, p.copyright a:link {
  color: #babdb6;
}

