/**
 * ease.js manual color scheme
 *
 * Inspired by Tango Icon Theme
 */

html {
  background-color: #eeeeec;
}

body {
  background-color: white;
  border-color:     #babdb6;
  border-width:     0px 1px 1px 1px;
  border-style:     solid;

  margin: 0px 5em;
  padding: 1em;

  font-family: arial, serif;
}

dfn {
  font-style: italic;
  font-weight: bold;
}

var {
  font-family: monospace;
}

.float {
  border: 1px solid #babdb6;
  padding: 0.5em;
}

.float-caption {
  font-size: 0.9em;
}

