/**
 * ease.js manual color scheme
 *
 * Inspired by Tango Icon Theme
 */

html, body {
  background-color: #efefef;
}

body {
  border-color: #babdb6;
  border-width: 0px 1px 1px 1px;
  border-style: solid;

  margin: 0px 5em;
  padding: 1em;

  font-size:   13px;
}

body, .float-caption
{
  font-family: arial, sans-serif;
}

.float, var
{
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Courier, monospace;
}

dfn {
  font-style: italic;
  font-weight: bold;
}

var {
  font-family: monospace;
}

.float {
  background-color: #eeeeec;

  font-size: 12px;
  color:     #222;

  border:  1px solid #babdb6;
  padding: 0.5em;
}

.float-caption {
  color: black;
}

